# Core ML (Tus versiones originales)
xgboost==2.1.4
scikit-learn==1.6.1
pandas==3.0.2
numpy==2.2.4

# Conexión a Base de Datos
pyodbc

# Requerido por Azure ML para el despliegue
azureml-defaults
joblib

# Para probar la API localmente
requests